.imgac{
    width: 200px;

}

.module{
    background-image: url(../img/bloc.jpg);
    background-size: contain;
}   
.taskzone{
    background-color: rgb(220, 166, 28);
    border-radius: 30px;
    text-align: center;
  
}

.formadd{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;

}

.libelletask{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2%;    
    color: black;
    
}
.libelletaskDoing{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
    color: darkred;
    
}

.libelletaskDone{
    text-decoration: line-through;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
    color: grey;
}

.selected{
    background-color: rgb(204, 167, 134);
    color: white;
}